<?xml version="1.0"?>
<configuration>


	<connectionStrings>
		<add connectionString="Data Source=localhost; Initial Catalog=MyTemp; Integrated Security=true;" name="MyDB" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<system.web>
		<compilation debug="true"/>
	</system.web>
	<!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="NewBinding0" />
			</basicHttpBinding>
		</bindings>
		<services>
			<service name="DataAccessLayer.DataAccessService">
				<endpoint address="" binding="wsHttpBinding" contract="DataAccessLayer.IDataAccessService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8732/Design_Time_Addresses/DataAccessLayer/Service1/"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="True"/>
					<!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="False"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
